@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat"), 
        url("/fonts/Montserrat-Regular.woff2") format("woff2"),
        url("/fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: local("Montserrat"), 
        url("/fonts/Montserrat-Medium.woff2") format("woff2"),
        url("/fonts/Montserrat-Medium.woff") format("woff");
}

html, body {
    max-width: 1400px;
    min-height: 1000px;
    margin: 0 auto;
    padding: 0;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #533738;
}

section, footer {
    background-color: #EFE6E4;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 50px;
    line-height: 62px;
    font-weight: normal;
    word-wrap: normal;
}

h2 {
    margin: 0;
    font-size: 40px;
    line-height: 50px;
    font-weight: normal;
    text-transform: uppercase;
}

p {
    margin: 0;
    padding: 0;
}

.main {
    margin: 0 auto;
    background: url(../images/header__background.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 168px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    margin: 0 7.3% 0 7%;
}

.header__logo {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.header__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.header__menu-item a {
    text-decoration: none;
    color: #533738;
    padding: 5px 10px;
    margin: 5px;
}

.header__menu-item a:hover span{
    padding-bottom: 3px;
    border-bottom: 2px solid #533738;
}

.header__phone {
    margin-left: 7px;
}

.main__info {
    margin-left: 13.1%;
    width: 38%;
    padding-top: 91px;
}

.main__title {
    margin-bottom: 4%;
}

.main__caption {
    width: 80%;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 24px;
}

.button {
    display: inline-block;
    color: #533738;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding: 25px 67px;
    background-color: #CC8B86;
}

.button:hover {
    background-color: #f5a7a1;
    transition: 0.2s
}

.about-us {
    background-color: #EFE6E4;
}

.about-us__title {
    padding-top: 66px;
    padding-bottom: 39px;
    text-align: center;
}

.about-us__info {
    display: flex;
    margin: 0px 13% 21px 13%;

}

.about-us__info-image {
    margin-right: 6.2%;
    object-fit: contain;
}

.about-us__info-text {
    font-size: 18px;
    line-height: 30px;
}

.about-us__awards {
    display: flex;
    justify-content: space-between;
    padding: 6.2% 13% 5.8%;
    margin: 0;
    list-style: none;
    background-color: #8D7370;
}

.about-us__awards-item {
    display: flex;
    flex-direction: column;
}

.awards-item_number {
    font-size: 50px;
    line-height: 62px;
    color: #FFFFFF;
    margin: 0 auto 7px auto;
}

.awards-item_caption {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.our-works {
    margin: 0 auto;
    padding-top: 66px;
    padding-bottom: 64px;
}

.our-works__title {
    max-width: 1200px;
    margin: 0 auto 39px auto;
}

.our-works-gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    column-gap: 20px;
    row-gap: 25px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.our-works-item {
    margin: 0 auto;
}

.our-works-item-1 {
    position: relative;
    width: 488px;
}

.our-works-item-2 {
    width: 692px;
}

.our-works-item-3 {
    width: 692px;
}

.our-works-item-4 {
    width: 488px;
}

.our-works-item-title {
    position: absolute;
    top: 86px;
    left: 97px;
    width: 60%;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
}

.our-works-item-caption {
    position: absolute;
    top: 179px;
    left: 35px;
    width: 90%;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;  
}


.see-more_btn {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #533738;
    text-decoration: none;
    margin: 35px auto 0 auto;
    width: 296px;
}

.see-more_btn:hover .arrow {
    left: 275px;
    transition: 0.4s
}
  
.arrow {
    display: block;
    position: absolute;
    width: 60px;
    top: 18px;
    left: 235px;
    height: 2px;
    background-color: #533738;
}
  
.arrow:before {
    content: '';
    display: block;
    position: absolute;
    top: .5px;
    right: 1.4px;
    width: 10px;
    height: 2px;
    background-color: #533738;
    transform: rotate(-45deg);
    transform-origin: 100% 0%;
}
  
.arrow:after {
    content: '';
    display: block;
    position: absolute;
    right: 0px;
    width: 10px;
    height: 2px;
    background-color: #533738;
    transform: rotate(45deg);
    transform-origin: 100% 0%;
}

.team {
    background-color: #E2C4BA;
    padding-bottom: 24px;
}

.team__title {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 32px;
}

.team__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.team__item {
    width: 319px;
    margin: 10px 19px;
}

.team__item-photo {
    height: 252px;
}

.team__item-caption {
    font-size: 18px;
    line-height: 30px;
    padding-top: 5px;
}

.how-we-work {
    background-color: #E2C4BA;
}


.how-we-work__title {
    text-align: center;
    margin-bottom: 40px;
    padding-left: 42px;
}

.work__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    padding-bottom: 80px;
}

.work__item {
    width: 285px;
    margin: 0 10px;
}

.work__item-number {
    margin: 0 auto 20px;
    background-color: #8D7370;
    border-radius: 50%;
    width: 70px;
    height: 49px;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 21px;
}

.work__item-caption {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #533738;
}

.feedback__title {
    text-align: center;
    padding-top: 65px;
    padding-left: 20px;
}

.feedback__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}

.feedback__content {
    display: flex;
    align-items: center;
    width: 63%;
    margin-top: 40px;
}

.feedback__text {
    margin: -7px 12px 0 24px;
    width: 47%;
}

.feedback__text-comment {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 24px;
}

.feedback__text-author {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}


.feedback__image {
    width: 47%;
}

.feedback__image-1{
    margin-bottom: 19px;
}

.feedback__left-btn, 
.feedback__right-btn {
    display: block;
    position: relative;
    background-color: #CC8B86;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    margin-top: 12px;
}

.feedback__left-btn:hover, 
.feedback__right-btn:hover {
    background-color: #f5a7a1;
    transition: 0.2s
}

.feedback__left-btn {
    margin-right: 5px;
}

.feedback__right-btn {
    margin-left: 5px;
}
  
.feedback__right-btn .feedback_arrow {
    display: block;
    position: absolute;
    width: 33px;
    height: 2px;
    top: 35px;
    left: 20px;
    background-color: #FFFFFF;
}
  
.feedback__right-btn .feedback_arrow:before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    right: 1.4px;
    width: 10px;
    height: 2px;
    background-color: #FFFFFF;
    transform: rotate(-45deg);
    transform-origin: 100% 0%;
}
  
.feedback__right-btn .feedback_arrow:after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 9px;
    height: 2px;
    background-color: #FFFFFF;
    transform: rotate(45deg);
    transform-origin: 100% 0%;
}

.feedback__left-btn .feedback_arrow {
    display: block;
    position: absolute;
    width: 33px;
    height: 2px;
    top: 35px;
    left: 20px;
    background-color: #FFFFFF;
}
  
.feedback__left-btn .feedback_arrow:before {
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    left: -11px;
    width: 10px;
    height: 2px;
    background-color: #FFFFFF;
    transform: rotate(-135deg);
    transform-origin: 100% 0%;
}
  
.feedback__left-btn .feedback_arrow:after {
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    left: -7px;
    width: 9px;
    height: 2px;
    background-color: #FFFFFF;
    transform: rotate(135deg);
    transform-origin: 100% 0%;
}

.request {
    display: flex;
    margin: 0 auto;
    background-color: #8D7370;
    color: #FFFFFF;
}

.request__content {
    margin-left: 13%;
    margin-right: 18px;
    padding-top: 50px;
    width: 36.4%;
}

.request__title {
    margin-bottom: 20px;
}

.request__captioin {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 44px;
}

.request__form {
    display: flex;
    flex-direction: column;
}

.request__form input {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #F6EDE9;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 7px;
}

.request__form input:focus {
    outline: none;
}

.request__form input::placeholder {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 30px;
}

.request__submit-btn {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
}

.request__form .request__name {
    margin-bottom: 32px;
}

.request__form .request__phone {
    margin-bottom: 32px;
}

.request__submit-btn {
    border: none;
    width: 61%; 
}

.request__map {
    margin-right: 7%;
    height: 624px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
    padding-top: 34px;
    padding-bottom: 40px;
}

.footer__phone {
    margin-right: 42px;
}

.footer__adress {
    margin-right: auto;
}


